*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
}
.everyscore{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    background-color: #01579B;
    padding: 4px 40px;
}
.everyscore_menu{
    display: flex;
    list-style-type: none;
    padding-left: 0;
}
.everyscore_item{
    padding: 1px 15px;
    cursor: pointer;
}
a:hover{
    background-color: white;
}
.everyscore_item a{
    text-decoration: none;
    color: #E3F2FD;
    font-size: 17px;
}
.everyscore_logo a{
    text-decoration: none;
    color: #E3F2FD;
    font-size: 30px;
}